---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar";
import Hero from "../components/Hero";
import Features from "../components/Features";
import Technologies from "../components/Technologies";
import Download from "../components/Download";
import Contact from "../components/Contact";
import Footer from "../components/Footer.astro";
import ThemeInitializer from "../components/ThemeInitializer";
import "../styles/global.css";
---

<Layout>
	<ThemeInitializer client:only="react" />
	<NavBar client:load />
	<main>
		<Hero client:load />
		<Features client:load />
		<Technologies client:load />
		<Download client:load />
		<Contact client:load />
	</main>
	<Footer />
</Layout>
